@mixin flex-row-nowrap-center-center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-nowrap-center-center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}