@import './vars/vars';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.App {
    background: rgb(255,177,153);
    background: linear-gradient(0deg, rgba(255,177,153,1) 0%, rgba(255,8,68,1) 76%);
    width: 100vw;
    height: 100vh;

    .darken-bg-img {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.15);
    }
}