@import './vars/vars';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.App {
    background: rgb(255,177,153);
    background: linear-gradient(0deg, $bg-gradient-bot 0%, $bg-gradient-top 76%);
    width: 100vw;
    height: 100vh;

    .darken-bg-img {
        width: 100%;
        height: 100%;
        background-color: $bg-darken;
    }
}

@import './info/info';